h1, h2, h3, h4, h5, h6 {
    font-family: $title;
    font-weight: normal;
    line-height:normal;
}

h1{
  font-family:$spartan;
}

.alternate-heading{
  border:1px dashed $black;
  margin:0 auto 1.5rem;
  padding:1.125rem 1rem 1rem;
  width: 90%;

  @include min($bp-sm){
    width: 40%;
  }
  &.white{
    border-color:$white;
  }
}